OmniSight-Client/workflows/ContentResearch&IdeaGenerator.json
{
  "name": "Content Research & Idea Generator",
  "description": "Automatically researches topics and generates content ideas using AI",
  "tags": ["content", "research", "ai", "seo"],
  "nodes": [
    {
      "id": "manual-trigger",
      "name": "Start Research",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "set-node",
      "name": "Set Research Topic",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [460, 300],
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "topic",
              "value": "artificial intelligence in healthcare"
            },
            {
              "name": "api_key",
              "value": "AIzaSyCK8aEhaQOUgyJRnQL-_RLw1iJWeqpvJ8I"
            },
            {
              "name": "content_type",
              "value": "blog post"
            },
            {
              "name": "target_audience",
              "value": "healthcare professionals and tech enthusiasts"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "http-request-1",
      "name": "Get Related News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 200],
      "parameters": {
        "method": "GET",
        "url": "https://newsapi.org/v2/everything?q={{ $json.topic }}&sortBy=publishedAt&pageSize=3&apiKey=DEMO_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n-workflow"
            }
          ]
        }
      }
    },
    {
      "id": "http-request-2",
      "name": "Get Wikipedia Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 400],
      "parameters": {
        "method": "GET",
        "url": "https://en.wikipedia.org/api/rest_v1/page/summary/{{ $json.topic }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n-workflow"
            }
          ]
        }
      }
    },
    {
      "id": "function-1",
      "name": "Process News Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 200],
      "parameters": {
        "functionCode": "const news = $input.first().json;\nlet newsSummary = '';\n\nif (news.articles && news.articles.length > 0) {\n  news.articles.forEach((article, index) => {\n    newsSummary += `${index + 1}. ${article.title}\\n   Source: ${article.source.name}\\n   Published: ${new Date(article.publishedAt).toLocaleDateString()}\\n\\n`;\n  });\n} else {\n  newsSummary = 'No recent news articles found.';\n}\n\nreturn [{ news_summary: newsSummary, articles_count: news.articles ? news.articles.length : 0 }];"
      }
    },
    {
      "id": "function-2",
      "name": "Process Wikipedia Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 400],
      "parameters": {
        "functionCode": "const wiki = $input.first().json;\nreturn [{\n  wiki_summary: wiki.extract || 'No Wikipedia summary available.',\n  wiki_title: wiki.title || 'Not found',\n  wiki_url: wiki.content_urls ? wiki.content_urls.desktop.page : ''\n}];"
      }
    },
    {
      "id": "merge-node",
      "name": "Combine Research Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1120, 300],
      "parameters": {
        "mode": "combine",
        "joinMode": "mergeByIndex"
      }
    },
    {
      "id": "http-request-3",
      "name": "Generate Content Ideas with AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 300],
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-pro:generateContent?key={{ $json.api_key }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "=[{\"parts\":[{\"text\": \"Based on this research data:\\n\\nTOPIC: {{ $json.topic }}\\n\\nWIKIPEDIA SUMMARY:\\n{{ $json[1].wiki_summary }}\\n\\nRECENT NEWS:\\n{{ $json[0].news_summary }}\\n\\nGenerate 5 creative content ideas for a {{ $json.content_type }} targeting {{ $json.target_audience }}. For each idea, provide:\\n1. Title\\n2. Key points (3-4 bullet points)\\n3. Target keywords\\n4. Unique angle\\n\\nMake the ideas practical and engaging.\"}]}]"
            },
            {
              "name": "generationConfig",
              "value": "={\"temperature\": 0.8, \"maxOutputTokens\": 2000, \"topP\": 0.9, \"topK\": 40}"
            }
          ]
        },
        "jsonBody": true
      }
    },
    {
      "id": "function-3",
      "name": "Format Final Report",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1560, 300],
      "parameters": {
        "functionCode": "const researchData = $input.all();\nconst newsData = researchData[0].json[0];\nconst wikiData = researchData[0].json[1];\nconst aiResponse = researchData[1].json;\n\nconst contentIdeas = aiResponse.candidates[0].content.parts[0].text;\n\nconst report = `🔍 *CONTENT RESEARCH REPORT* 🔍\\n\\n*Research Topic:* {{ $json.topic }}\\n*Content Type:* {{ $json.content_type }}\\n*Target Audience:* {{ $json.target_audience }}\\n*Generated:* ${new Date().toLocaleString()}\\n\\n---\\n*📚 WIKIPEDIA SUMMARY*\\n${wikiData.wiki_summary}\\n\\n---\\n*📰 RECENT NEWS COVERAGE* (${newsData.articles_count} articles found)\\n${newsData.news_summary}\\n---\\n*💡 AI-GENERATED CONTENT IDEAS*\\n${contentIdeas}\\n\\n---\\n*🚀 NEXT STEPS*\\n1. Review and refine the content ideas\\n2. Check keyword competition\\n3. Create content calendar\\n4. Assign to writers`;\n\nreturn [{\n  final_report: report,\n  topic: $json.topic,\n  content_type: $json.content_type,\n  timestamp: new Date().toISOString(),\n  articles_count: newsData.articles_count,\n  wiki_title: wikiData.wiki_title\n}];"
      }
    },
    {
      "id": "slack-node",
      "name": "Send to Slack Channel",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1780, 300],
      "parameters": {
        "channel": "#content-ideas",
        "text": "={{ $json.final_report }}",
        "username": "Content Research Bot",
        "otherOptions": {
          "icon_emoji": ":mag:"
        }
      }
    },
    {
      "id": "email-sender",
      "name": "Send Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1780, 500],
      "parameters": {
        "subject": "📊 Content Research Report: {{ $json.topic }}",
        "body": "={{ $json.final_report }}",
        "to": "YOUR_EMAIL@example.com"
      }
    },
    {
      "id": "no-op",
      "name": "Research Complete ✅",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2000, 300],
      "parameters": {}
    }
  ],
  "connections": {
    "Start Research": {
      "main": [
        [
          {
            "node": "Set Research Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Research Topic": {
      "main": [
        [
          {
            "node": "Get Related News",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Wikipedia Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Related News": {
      "main": [
        [
          {
            "node": "Process News Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Wikipedia Summary": {
      "main": [
        [
          {
            "node": "Process Wikipedia Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process News Data": {
      "main": [
        [
          {
            "node": "Combine Research Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Wikipedia Data": {
      "main": [
        [
          {
            "node": "Combine Research Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Research Data": {
      "main": [
        [
          {
            "node": "Generate Content Ideas with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content Ideas with AI": {
      "main": [
        [
          {
            "node": "Format Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Report": {
      "main": [
        [
          {
            "node": "Send to Slack Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Slack Channel": {
      "main": [
        [
          {
            "node": "Research Complete ✅",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Report": {
      "main": [
        [
          {
            "node": "Research Complete ✅",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}