OmniSight-Client/workflows/GoogleGeminiAIAssistant.json
{
  "name": "Google Gemini AI Assistant - Working",
  "description": "Send prompts to Google Gemini using your API key",
  "tags": ["gemini", "google-ai", "ai-chat"],
  "nodes": [
    {
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "set-node",
      "name": "Set Prompt & Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [460, 300],
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "prompt",
              "value": "Explain quantum computing in simple terms"
            },
            {
              "name": "model",
              "value": "gemini-pro"
            },
            {
              "name": "temperature",
              "value": "0.7"
            },
            {
              "name": "maxOutputTokens",
              "value": "1000"
            },
            {
              "name": "api_key",
              "value": "AIzaSyCK8aEhaQOUgyJRnQL-_RLw1iJWeqpvJ8I"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "http-request",
      "name": "Call Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/{{ $json.model }}:generateContent?key={{ $json.api_key }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "=[{\"parts\":[{\"text\":\"{{ $json.prompt }}\"}]}]"
            },
            {
              "name": "generationConfig",
              "value": "={\"temperature\": {{ $json.temperature }}, \"maxOutputTokens\": {{ $json.maxOutputTokens }}, \"topP\": 0.8, \"topK\": 40}"
            }
          ]
        },
        "jsonBody": true
      }
    },
    {
      "id": "function-node",
      "name": "Process Gemini Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300],
      "parameters": {
        "functionCode": "const response = $input.first().json;\n\nconsole.log('Full Gemini Response:', JSON.stringify(response, null, 2));\n\nif (response.candidates && response.candidates.length > 0) {\n  const candidate = response.candidates[0];\n  if (candidate.content && candidate.content.parts && candidate.content.parts.length > 0) {\n    return [{\n      ai_response: candidate.content.parts[0].text,\n      model_used: response.model || 'gemini-pro',\n      finish_reason: candidate.finishReason || 'unknown',\n      timestamp: new Date().toLocaleString(),\n      original_prompt: $json.prompt,\n      status: 'success'\n    }];\n  }\n}\n\n// If no valid response\nreturn [{\n  error: \"No valid response from Gemini\",\n  raw_response: JSON.stringify(response, null, 2),\n  status: 'error',\n  timestamp: new Date().toLocaleString()\n}];"
      }
    },
    {
      "id": "email-sender",
      "name": "Send Gemini Response Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1120, 300],
      "parameters": {
        "subject": "🤖 Gemini Response: {{ $json.original_prompt }}",
        "body": "Here's Google Gemini's response to your prompt:\n\n📝 **Your Prompt:**\n{{ $json.original_prompt }}\n\n🤖 **Gemini Response:**\n{{ $json.ai_response }}\n\n📊 **Details:**\n- Model: {{ $json.model_used }}\n- Status: {{ $json.status }}\n- Finish Reason: {{ $json.finish_reason }}\n- Timestamp: {{ $json.timestamp }}",
        "to": "YOUR_EMAIL@example.com"
      }
    },
    {
      "id": "no-op",
      "name": "Workflow Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1340, 300],
      "parameters": {}
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Prompt & Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prompt & Parameters": {
      "main": [
        [
          {
            "node": "Call Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini API": {
      "main": [
        [
          {
            "node": "Process Gemini Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Gemini Response": {
      "main": [
        [
          {
            "node": "Send Gemini Response Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gemini Response Email": {
      "main": [
        [
          {
            "node": "Workflow Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}