OmniSight-Client/workflows/OpenAIChatAssistant.json
{
  "name": "OpenAI Chat Assistant",
  "description": "Send prompts to OpenAI and get AI responses",
  "tags": ["openai", "ai", "chatgpt"],
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "set-node",
      "name": "Set Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [460, 300],
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "prompt",
              "value": "Explain quantum computing in simple terms"
            },
            {
              "name": "max_tokens",
              "value": "500"
            },
            {
              "name": "temperature",
              "value": "0.7"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "openai-node",
      "name": "OpenAI Chat",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [680, 300],
      "parameters": {
        "model": "gpt-3.5-turbo",
        "messages": [
          {
            "role": "user",
            "content": "={{ $json.prompt }}"
          }
        ],
        "options": {
          "max_tokens": "={{ $json.max_tokens }}",
          "temperature": "={{ $json.temperature }}"
        }
      }
    },
    {
      "id": "function-node",
      "name": "Format Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300],
      "parameters": {
        "functionCode": "const response = $input.first().json;\nconst choices = response.choices;\n\nif (choices && choices.length > 0) {\n  const message = choices[0].message;\n  return [{\n    ai_response: message.content,\n    model_used: response.model,\n    tokens_used: response.usage.total_tokens,\n    prompt_tokens: response.usage.prompt_tokens,\n    completion_tokens: response.usage.completion_tokens,\n    timestamp: new Date().toLocaleString(),\n    original_prompt: $json.prompt\n  }];\n} else {\n  return [{\n    error: \"No response from AI\",\n    raw_response: JSON.stringify(response, null, 2)\n  }];\n}"
      }
    },
    {
      "id": "email-sender",
      "name": "Send AI Response Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1120, 300],
      "parameters": {
        "subject": "🤖 AI Response: {{ $json.original_prompt }}",
        "body": "Here's the AI response to your prompt:\n\n📝 **Your Prompt:**\n{{ $json.original_prompt }}\n\n🤖 **AI Response:**\n{{ $json.ai_response }}\n\n📊 **Details:**\n- Model: {{ $json.model_used }}\n- Total Tokens: {{ $json.tokens_used }}\n- Timestamp: {{ $json.timestamp }}",
        "to": "YOUR_EMAIL@example.com"
      }
    },
    {
      "id": "no-op",
      "name": "Workflow Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1340, 300],
      "parameters": {}
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prompt": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send AI Response Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send AI Response Email": {
      "main": [
        [
          {
            "node": "Workflow Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}