workflows/Bitcoin Price Alert.json
{
  "name": "Bitcoin Price Alert",
  "nodes": [
    {
      "parameters": {
        "path": "bitcoin-alert",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger-node",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "webhookId": "bitcoin-alert-webhook"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd",
        "options": {}
      },
      "id": "d2291c0d-ee9d-4d08-9a8f-abd9b0a4aff2",
      "name": "Get Bitcoin Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [224, 0]
    },
    {
      "parameters": {
        "functionCode": "// Get data from webhook trigger\nconst webhookData = $input.first().json;\nconst fromEmail = webhookData.fromEmail || 'noreply@example.com';\nconst toEmail = webhookData.toEmail || 'user@example.com';\n\n// Get Bitcoin price from previous node\nconst bitcoinData = $('Get Bitcoin Price').first().json;\nconst price = bitcoinData.bitcoin.usd;\nconst timestamp = new Date().toLocaleString();\n\nconsole.log('?? From Email:', fromEmail);\nconsole.log('?? To Email:', toEmail);\nconsole.log('?? Bitcoin Price:', price);\n\nif (price > 50000) {\n  return {\n    json: {\n      fromEmail: fromEmail,\n      toEmail: toEmail,\n      subject: '?? BITCOIN PRICE ALERT - $' + price,\n      message: '<h2>Bitcoin Price Alert</h2><p>Bitcoin price is currently <strong>HIGH</strong>!</p><ul><li>?? Price: $' + price + '</li><li>?? Status: ABOVE $50,000</li><li>? Time: ' + timestamp + '</li></ul><p>Consider monitoring the market closely.</p>',\n      emailFormat: 'html',\n      status: 'high_alert',\n      price: price,\n      timestamp: timestamp\n    }\n  };\n} else {\n  return {\n    json: {\n      fromEmail: fromEmail,\n      toEmail: toEmail,\n      subject: '?? Bitcoin Price Update - $' + price,\n      message: '<h2>Bitcoin Price Update</h2><p>Bitcoin price is within normal range.</p><ul><li>?? Price: $' + price + '</li><li>?? Status: BELOW $50,000</li><li>? Time: ' + timestamp + '</li></ul><p>No immediate action needed.</p>',\n      emailFormat: 'html',\n      status: 'normal',\n      price: price,\n      timestamp: timestamp\n    }\n  };\n}"
      },
      "id": "668c3478-13e7-43be-a39a-bcdf155385b6",
      "name": "Check Price & Create Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [448, 0]
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.fromEmail }}",
        "toEmail": "={{ $json.toEmail }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.message }}",
        "options": {}
      },
      "id": "51afa00a-5cf5-4141-a1db-e10d3777553c",
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [672, 0],
      "credentials": {
        "smtp": {
          "id": "{{smtpCredentialId}}",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Bitcoin alert sent!\", \"price\": $json.price, \"status\": $json.status } }}"
      },
      "id": "response-node",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [896, 0]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Bitcoin Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bitcoin Price": {
      "main": [
        [
          {
            "node": "Check Price & Create Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Price & Create Message": {
      "main": [
        [
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Alert": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}